
body {
    font-family: 'Big Shoulders Display', cursive;
    font-size: 15px;
    color: $very-light-gray;
    margin: 3rem auto;

    main {
        height: 100%;

        @include response (medium) {
            height: 100vh;
            overflow: hidden;
        }

    }
}