

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Big Shoulders Display', cursive;
    font-size: 15px;
    color: $very-light-gray;
    margin: 3rem auto;

    main {
        height: 100%;

        .central-box {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100%;

            .column {
                max-width: 200px;
                padding: 1.9em;

                .icon {
                    padding-bottom: 1.6em;
                }

                &__title {
                    padding-bottom: 1em;
                }

                &__desc {
                    padding-bottom: 1.9em;
                }

                &__btn {
                    padding: 8px 15px;
                    border: none;
                    outline: none;
                    border-radius: 15px;
                    font-size: 12px;
                }
            }

            .one {
                background: $bright-orange;
            }

            .two {
                background: $dark-cyan;
            }

            .three {
                background: $very-dark-cyan;
            }
        }
    }
}